.App {
  text-align: center;
  background-color: lightblue;
  height: 100vh;
}

.songPic {
  display: flex;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: auto;
}

.picButton {
  width: 50%;
  margin: auto;
}

.navbar-primary {
  display: flex !important;
  justify-content: center !important;
  width: 100vw;
  background-color: lightgrey;
}

.mainNav {
  display: flex !important;
  justify-content: center !important;
}

.commerce {
  font-size: 25px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navlinks {
  font-size: 20px;
  margin: auto;
  padding: 2%;
  color: #14213d;
}

.logoutButton {
  font-size: 20px;
  margin: 5%;
  padding: 2%;
  color: #14213d;
}

#logoutButton {
  background-color: #14213d;
  color: #e5e4e2;
}
